# EditorConfig is awesome: https://EditorConfig.org

# Based on following Google Style Guides:
# - C++: https://google.github.io/styleguide/cppguide.html
# - C#: https://google.github.io/styleguide/csharp-style.html
# - Go: https://google.github.io/styleguide/goguide.html
# - HTML/CSS: https://google.github.io/styleguide/htmlcssguide.html
# - JavaScript: https://google.github.io/styleguide/jsguide.html
# - Java: https://google.github.io/styleguide/javaguide.html
# - Python: https://google.github.io/styleguide/pyguide.html
# - Shell: https://google.github.io/styleguide/shellguide.html
# - TypeScript: https://google.github.io/styleguide/tsguide.html

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
#insert_final_newline = true

# Git
[.git*]
indent_style = tab
indent_size = 4

# Shell scripts
# https://google.github.io/styleguide/shell.xml#Indentation
[**.{bash,sh,zsh}]
#charset = utf-8
indent_size = 2
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
shell_variant = bash

# Batch
[*.{cmd,bat}]
end_of_line = crlf

# PowerShell
[*.ps1]
indent_size = 4
indent_style = space

# GNU make
# https://www.gnu.org/software/make/manual/html_node/Recipe-Syntax.html
[Makefile]
indent_size = 4
indent_style = tab

# just
[{justfile,.justfile,.justfile.user}]
indent_size = 2
indent_style = space

# Markdown
[**.{md,mdx,rst}]
indent_size = 2
indent_style = space
trim_trailing_whitespace = false
max_line_length = 80

# YAML
# http://yaml.org/spec/1.2/2009-07-21/spec.html#id2576668
[*.{yaml,yml,bu,butane}]
indent_size = 2
indent_style = space

# TOML
# https://github.com/toml-lang/toml/tree/master/examples
[*.toml]
indent_size = 2
indent_style = space

# XML
[*.{xml,config,props,targets,nuspec,resx,ruleset,vsixmanifest,vsct}]
indent_size = 2
indent_style = space

# JSON
[*.{json,json5,webmanifest,ign}]
indent_size = 2
indent_style = space

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_size = 2
indent_style = space

# GraphQL
# https://graphql.org/learn/
# https://prettier.io
[*.graphql]
indent_size = 2
indent_style = space

# HTML
# https://google.github.io/styleguide/htmlcssguide.xml#General_Formatting_Rules
[*.{htm,html}]
indent_size = 2
indent_style = space
trim_trailing_whitespace = true

# CSS
# https://google.github.io/styleguide/htmlcssguide.xml#General_Formatting_Rules
# http://cssguidelin.es/#syntax-and-formatting
[*.{css,sass,scss,less,pcss}]
indent_size = 2
indent_style = space
trim_trailing_whitespace = true

# JavaScript
# https://github.com/feross/standard
# https://prettier.io
[*.{js,jsm,jsx,cjs,cts,ctsx,mjs,mts,mtsx,ts,tsx}]
indent_size = 2
indent_style = space

# Indentation override for all JS under lib directory
[lib/**.js]
indent_size = 2
indent_style = space

# Vue.js
# https://eslint.vuejs.org/rules/html-indent.html
# https://eslint.vuejs.org/rules/script-indent.html
[*.vue]
indent_size = 2
indent_style = space

# Python
[*.py]
charset = utf-8
indent_size = 4
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 110

# Ruby
# http://www.caliban.org/ruby/rubyguide.shtml#indentation
[*.rb]
indent_size = 2
indent_style = space

# PHP
# http://www.php-fig.org/psr/psr-2/
[*.php]
indent_size = 4
indent_style = space

# Lua
# http://lua-users.org/wiki/LuaStyleGuide
[*.{lua,luacheckrc}]
indent_size = 2
indent_style = space

# Java
# https://google.github.io/styleguide/javaguide.html#s4.2-block-indentation
[*.java]
indent_size = 2
indent_style = space

# Golang
# https://golang.org/cmd/gofmt/
[{go.mod,*.go}]
indent_size = 4
indent_style = tab

# Rust
# https://github.com/rust-lang/rust/blob/master/src/doc/style/style/whitespace.md
[*.rs]
indent_size = 4
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true

# Bazel
# https://bazel.build/
# https://github.com/bazelbuild/buildtools/blob/master/BUILD.bazel
[*.{bazel,bzl}]
indent_size = 4
indent_style = space
