# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
spelling_language = en-US
indent_style = space
indent_size = 2
#tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true

# Git
[.git*]
indent_style = tab

[.git/**]
trim_trailing_whitespace = false

# Shell Scripts
[*.sh]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80
shell_variant = bash
binary_next_line   = true  # like -bn
switch_case_indent = true  # like -ci
space_redirects    = true  # like -sr
keep_padding       = true  # like -kp

# PowerShell
[*.ps1]
end_of_line = crlf
indent_style = space
indent_size = 4

# Batch
[*.{cmd,bat}]
end_of_line = crlf

# Python
[*.py]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
max-line-length = 120
docstring_fill_column = 119 # Docstring line wrapping

# Ruby
[*.rb]
indent_style = space
indent_size = 2

# GNU Make
[Makefile]
indent_style = tab

# just
[{justfile,Justfile,.justfile,.justfile.user}]
indent_style = space
indent_size = 2

# JSON
[*.{json,jsonc,json5,hujson,ign,ignition}]
indent_style = space
indent_size = 2

# YAML
[*.{y{a,}ml,yamllint,bu,butane}]
indent_style = space
indent_size = 2

# TOML
[*.toml]
indent_style = space
indent_size = 4
max_line_length = 80

# XML
[*.{xml,plist}]
indent_style = space
indent_size = 4

# GraphQL
[*.graphql]
indent_style = space
indent_size = 2

# Markdown
[*.{md,mdx,mkd,mkdn,markdown}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
max_line_length = 80

[*.rst]
trim_trailing_whitespace = false

# Web files
[*.{html,htm,css}]
indent_style = space
indent_size = 4

# JavaScript
[*.{js,jsx}]
indent_style = space
indent_size = 2
quote_type = single

# TypeScript
[*.{ts,tsx}]
indent_style = space
indent_size = 2
quote_type = single

# Dockerfile
[{Dockerfile,Dockerfile.*,Containerfile,Containerfile.*}]
indent_style = space
indent_size = 4

# Vagrantfile
[Vagrantfile]
indent_size = 2
